@charset "utf-8";

/*estilos para telas */ 
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: lightgray;
}

header {
    display: flex;
    justify-content: space-evenly;
}
/* Estilo geral da lista */
ul {
    display: flex;
    list-style-type: none;
    padding-right: 80px;
    gap: 50px;
}

li {
    display: flex;
    align-items: center;
    color: #333333;
    margin-left: 30px;
     padding: 10px;
     box-sizing: border-box;
}

/* Estilo específico para o item que contém a imagem */
.item-imagem {
  display: flex;          /* Alinha a imagem e o texto lado a lado */
  flex-direction: column; /* Altera para 'column' se quiser o texto abaixo da imagem */
  gap: 10px;              /* Cria um espaço entre a imagem e o texto */
  align-items: center;    /* Alinha verticalmente no centro */
  list-style-type: none;  /* Opcional: remove a bolinha da lista deste item específico */
}

.item-imagem img {
  max-width: 100px;       /* Controla a largura máxima da imagem */
  height: auto;           /* Mantém a proporção da imagem *//
}

li:hover {
     outline: 2px solid #3498db;
    border: 1px solid white;
    transition: border 0.5ms, color 1s;
}
